n8n/workflows/daily-digest.json
{
  "name": "daily-digest",
  "nodes": [
    {
      "id": "cron-trigger",
      "name": "Cron 07:00 UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [0, 0],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "read-agent-memory",
      "name": "Read Agent Memory",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [220, 0],
      "parameters": {
        "operation": "download",
        "fileId": "={{ $env.GOOGLE_DRIVE_MEMORY_FILE_ID }}"
      },
      "credentials": {
        "googleDriveOAuth2Api": { "id": "1", "name": "Google Drive" }
      }
    },
    {
      "id": "read-notebook-registry",
      "name": "Read Notebook Registry",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [440, 0],
      "parameters": {
        "operation": "download",
        "fileId": "={{ $env.GOOGLE_DRIVE_NOTEBOOK_REGISTRY_FILE_ID }}"
      },
      "credentials": {
        "googleDriveOAuth2Api": { "id": "1", "name": "Google Drive" }
      }
    },
    {
      "id": "fetch-gmail",
      "name": "Fetch Gmail Since Watermark",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [660, 0],
      "parameters": {
        "operation": "getAll",
        "filters": {
          "q": "after:={{ $json.watermark }} -label:SENT -label:DRAFT"
        },
        "returnAll": false,
        "limit": 50
      },
      "credentials": {
        "gmailOAuth2": { "id": "2", "name": "Gmail" }
      }
    },
    {
      "id": "deduplicate",
      "name": "Deduplicate Processed IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 0],
      "parameters": {
        "jsCode": "const memory = $('Read Agent Memory').first().json.content || '';\nconst processed = new Set(\n  memory.match(/^[a-zA-Z0-9]+$/gm) || []\n);\nreturn $input.all().filter(item => !processed.has(item.json.id));"
      }
    },
    {
      "id": "claude-api",
      "name": "Claude API — Parse Messages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 0],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "anthropic-beta", "value": "interleaved-thinking-2025-05-14" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "model", "value": "claude-sonnet-4-6" },
            { "name": "max_tokens", "value": 4096 },
            {
              "name": "system",
              "value": "={{ $('Read Agent Memory').first().json.systemPrompt }}"
            },
            {
              "name": "messages",
              "value": "=[{\"role\":\"user\",\"content\":{{ JSON.stringify($input.all().map(i => i.json)) }}}]"
            }
          ]
        }
      }
    },
    {
      "id": "parse-output",
      "name": "Parse Claude Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 0],
      "parameters": {
        "jsCode": "const text = $input.first().json.content[0].text;\ntry {\n  const tasks = JSON.parse(text);\n  return tasks.map(t => ({ json: t }));\n} catch (e) {\n  throw new Error('Claude output is not valid JSON: ' + text.slice(0, 200));\n}"
      }
    },
    {
      "id": "create-linear-issues",
      "name": "Create Linear Issues",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, 0],
      "parameters": {
        "method": "POST",
        "url": "https://api.linear.app/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ $env.LINEAR_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "mutation CreateIssue($input: IssueCreateInput!) { issueCreate(input: $input) { success issue { id url } } }"
            },
            {
              "name": "variables",
              "value": "={ \"input\": { \"teamId\": \"e96a084f-7033-4b61-be58-3fb1e6679a50\", \"projectId\": \"4edee420-cd11-48be-90fb-01bd19f54a1f\", \"title\": {{ JSON.stringify($json.title) }}, \"description\": {{ JSON.stringify($json.description) }}, \"priority\": {{ $json.priority }} } }"
            }
          ]
        }
      }
    },
    {
      "id": "update-watermark",
      "name": "Update Agent Memory Watermark",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1760, 0],
      "parameters": {
        "operation": "upload",
        "fileId": "={{ $env.GOOGLE_DRIVE_MEMORY_FILE_ID }}",
        "inputDataFieldName": "data"
      },
      "credentials": {
        "googleDriveOAuth2Api": { "id": "1", "name": "Google Drive" }
      }
    },
    {
      "id": "error-handler",
      "name": "Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, 200],
      "parameters": {
        "jsCode": "console.error('daily-digest error:', JSON.stringify($input.first().json, null, 2));\nreturn $input.all();"
      }
    }
  ],
  "connections": {
    "Cron 07:00 UTC": {
      "main": [[{ "node": "Read Agent Memory", "type": "main", "index": 0 }]]
    },
    "Read Agent Memory": {
      "main": [[{ "node": "Read Notebook Registry", "type": "main", "index": 0 }]]
    },
    "Read Notebook Registry": {
      "main": [[{ "node": "Fetch Gmail Since Watermark", "type": "main", "index": 0 }]]
    },
    "Fetch Gmail Since Watermark": {
      "main": [[{ "node": "Deduplicate Processed IDs", "type": "main", "index": 0 }]]
    },
    "Deduplicate Processed IDs": {
      "main": [[{ "node": "Claude API — Parse Messages", "type": "main", "index": 0 }]]
    },
    "Claude API — Parse Messages": {
      "main": [[{ "node": "Parse Claude Output", "type": "main", "index": 0 }]]
    },
    "Parse Claude Output": {
      "main": [[{ "node": "Create Linear Issues", "type": "main", "index": 0 }]]
    },
    "Create Linear Issues": {
      "main": [[{ "node": "Update Agent Memory Watermark", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
