n8n/workflows/weekly-learning.json
{
  "name": "weekly-learning",
  "nodes": [
    {
      "id": "cron-trigger",
      "name": "Cron Monday 09:00 UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [0, 0],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1"
            }
          ]
        }
      }
    },
    {
      "id": "fetch-closed-issues",
      "name": "Fetch Closed/Cancelled Linear Issues",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0],
      "parameters": {
        "method": "POST",
        "url": "https://api.linear.app/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ $env.LINEAR_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "query { issues(filter: { team: { id: { eq: \"e96a084f-7033-4b61-be58-3fb1e6679a50\" } }, state: { type: { in: [\"completed\", \"cancelled\"] } }, updatedAt: { gte: \"{{ $now.minus({days: 7}).toISO() }}\" } }) { nodes { id title description comments { nodes { body } } } } }"
            }
          ]
        }
      }
    },
    {
      "id": "extract-feedback",
      "name": "Extract Feedback Comments",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0],
      "parameters": {
        "jsCode": "const issues = $input.first().json.data.issues.nodes;\nconst feedback = issues.flatMap(issue =>\n  issue.comments.nodes\n    .filter(c => c.body.toLowerCase().includes('feedback:') || c.body.toLowerCase().includes('learned:'))\n    .map(c => ({ issueId: issue.id, title: issue.title, comment: c.body }))\n);\nreturn feedback.map(f => ({ json: f }));"
      }
    },
    {
      "id": "read-agent-memory",
      "name": "Read Agent Memory",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [660, 0],
      "parameters": {
        "operation": "download",
        "fileId": "={{ $env.GOOGLE_DRIVE_MEMORY_FILE_ID }}"
      },
      "credentials": {
        "googleDriveOAuth2Api": { "id": "1", "name": "Google Drive" }
      }
    },
    {
      "id": "claude-learning-call",
      "name": "Claude API — Generate Rule Updates",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 0],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "model", "value": "claude-sonnet-4-6" },
            { "name": "max_tokens", "value": 2048 },
            {
              "name": "system",
              "value": "You are a learning agent. Review the feedback comments from completed/cancelled Linear issues and the current agent memory. Output only a JSON object with two fields: 'new_rules' (array of strings to add to Standing rules) and 'new_patterns' (array of strings to add to Learned patterns, each prefixed with today's date). Output nothing else."
            },
            {
              "name": "messages",
              "value": "=[{\"role\":\"user\",\"content\":\"Current memory:\\n\" + $('Read Agent Memory').first().json.content + \"\\n\\nFeedback comments this week:\\n\" + JSON.stringify($input.all().map(i => i.json), null, 2)}]"
            }
          ]
        }
      }
    },
    {
      "id": "apply-rule-changes",
      "name": "Apply Rule Changes to Memory",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 0],
      "parameters": {
        "jsCode": "const responseText = $input.first().json.content[0].text;\nlet updates;\ntry {\n  updates = JSON.parse(responseText);\n} catch (e) {\n  throw new Error('Claude learning output is not valid JSON: ' + responseText.slice(0, 200));\n}\n\nlet memory = $('Read Agent Memory').first().json.content || '';\n\nif (updates.new_rules && updates.new_rules.length) {\n  const rules = updates.new_rules.map(r => '- ' + r).join('\\n');\n  memory = memory.replace(/## Standing rules\\n/, '## Standing rules\\n' + rules + '\\n');\n}\n\nif (updates.new_patterns && updates.new_patterns.length) {\n  const patterns = updates.new_patterns.map(p => '- ' + p).join('\\n');\n  memory = memory.replace(/## Learned patterns\\n/, '## Learned patterns\\n' + patterns + '\\n');\n}\n\nreturn [{ json: { content: memory } }];"
      }
    },
    {
      "id": "update-agent-memory",
      "name": "Write Updated Agent Memory",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1320, 0],
      "parameters": {
        "operation": "upload",
        "fileId": "={{ $env.GOOGLE_DRIVE_MEMORY_FILE_ID }}",
        "inputDataFieldName": "content"
      },
      "credentials": {
        "googleDriveOAuth2Api": { "id": "1", "name": "Google Drive" }
      }
    }
  ],
  "connections": {
    "Cron Monday 09:00 UTC": {
      "main": [[{ "node": "Fetch Closed/Cancelled Linear Issues", "type": "main", "index": 0 }]]
    },
    "Fetch Closed/Cancelled Linear Issues": {
      "main": [[{ "node": "Extract Feedback Comments", "type": "main", "index": 0 }]]
    },
    "Extract Feedback Comments": {
      "main": [[{ "node": "Read Agent Memory", "type": "main", "index": 0 }]]
    },
    "Read Agent Memory": {
      "main": [[{ "node": "Claude API — Generate Rule Updates", "type": "main", "index": 0 }]]
    },
    "Claude API — Generate Rule Updates": {
      "main": [[{ "node": "Apply Rule Changes to Memory", "type": "main", "index": 0 }]]
    },
    "Apply Rule Changes to Memory": {
      "main": [[{ "node": "Write Updated Agent Memory", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
